<div class ="container">
<h1>Movie News!!</h1>

<h2>Click below to obtain the buzz</h2>

	<form action="/articles" method="get">
	  						
		<button class="btn btn-default" type="submit">News Here!</button>
	</form>	




</div>